In [125]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [127]:
df = pd.read_csv("netflix_titles.csv")

In [129]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1720,s1721,Movie,What We Wanted,Ulrike Kofler,"Lavinia Wilson, Elyas M'Barek, Anna Unterberge...",Austria,"November 11, 2020",2020,TV-MA,93 min,"Dramas, International Movies",A couple facing fertility issues finds their m...
5107,s5108,Movie,Mr. Roosevelt,Noël Wells,"Noël Wells, Nick Thune, Britt Lower, Daniella ...",United States,"December 26, 2017",2017,TV-MA,91 min,"Comedies, Independent Movies","A struggling comedian returns to Austin, Texas..."
5943,s5944,Movie,Adam: His Song Continues,Robert Markowitz,"Daniel J. Travanti, JoBeth Williams, Richard M...",United States,"October 1, 2011",1986,TV-MA,96 min,Dramas,"After their child was abducted and murdered, J..."
4399,s4400,TV Show,Warrior,NaN,"Dar Salim, Danica Curcic, Lars Ranthe, Marco I...",Denmark,"November 13, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A war veteran plagued by guilt over his final ...
7941,s7942,Movie,Satan & Adam,V. Scott Balcerek,"Sterling Magee, Adam Gussow",United States,"June 1, 2019",2018,TV-MA,78 min,"Documentaries, Music & Musicals",An aging blues guitarist and a grad student fo...

In [131]:
df.drop(["show_id","description"],axis=1,inplace=True)

In [133]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
1782,TV Show,Suburra: Blood on Rome,NaN,"Alessandro Borghi, Giacomo Ferrara, Eduardo Va...",Italy,"October 30, 2020",2020,TV-MA,3 Seasons,"Crime TV Shows, International TV Shows, TV Dramas"
592,Movie,She's Out of My League,Jim Field Smith,"Jay Baruchel, Alice Eve, T.J. Miller, Mike Vog...",United States,"July 1, 2021",2010,R,106 min,"Comedies, Romantic Movies"
931,Movie,Fun with Dick & Jane,Dean Parisot,"Jim Carrey, Téa Leoni, Alec Baldwin, Richard J...",United States,"May 1, 2021",2005,PG-13,91 min,Comedies
6656,Movie,E-Cigarettes: Miracle or Menace?,Emma Hatherley,Michael Mosley,United Kingdom,"February 1, 2019",2016,TV-14,52 min,Documentaries
1291,Movie,Love,Khalid Rahman,"Shine Tom Chacko, Rajisha Vijayan, Gokulan, Su...",India,"February 19, 2021",2020,TV-14,91 min,"Dramas, Independent Movies, International Movies"

In [135]:
df.shape
# (rows, columns)

(8807, 10)

In [137]:
df.size

88070

In [139]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [141]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [145]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

# Fill null values in country column

In [148]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [150]:
# find the mode of country column
# most frequently occurring country in the data
mode_country = df["country"].mode()[0]
mode_country

'United States'

In [152]:
df["country"] = df["country"].fillna(mode_country)

In [154]:
df["country"].isna().sum()

0

# Fill null values in date_added column

In [157]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [159]:
mode_date_added = df["date_added"].mode()[0]
mode_date_added

'January 1, 2020'

In [161]:
df["date_added"] = df["date_added"].fillna(mode_date_added)

In [163]:
df["date_added"].isna().sum()

0

# Fill null values in rating column

In [166]:
df["rating"].value_counts().head(3)

rating
TV-MA    3207
TV-14    2160
TV-PG     863
Name: count, dtype: int64

In [168]:
mode_rating = df["rating"].mode()[0]
mode_rating

'TV-MA'

In [170]:
df["rating"] = df["rating"].fillna(mode_rating)

In [172]:
df["rating"].isna().sum()

0

# Fill null values in duration column

In [176]:
df["duration"].value_counts().head(3)

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
Name: count, dtype: int64

In [178]:
mode_duration = df["duration"].mode()[0]
mode_duration

'1 Season'

In [180]:
df["duration"] = df["duration"].fillna(mode_duration)

In [182]:
df["duration"].isna().sum()

0

# Fill null values in director column

In [185]:
df["director"] = df["director"].fillna("Not mentioned")

In [187]:
df["director"].isna().sum()

0

# Fill null values in cast column

In [190]:
df["cast"] = df["cast"].fillna("Not mentioned")

In [192]:
df["cast"].isna().sum()

0

In [194]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

# Check if data is correct

In [197]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [199]:
df = df[~df["rating"].str.contains("min")]

In [201]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

# Fix date_added: remove commas

In [204]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [206]:
df["date_added"] = df["date_added"].str.replace(",","")

In [208]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [210]:
df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [212]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [214]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
8024,Movie,Single,Raditya Dika,"Raditya Dika, Annisa Rawles, Chandra Liow, Pan...",Indonesia,2018-09-28,2015,TV-PG,127 min,"Comedies, International Movies, Romantic Movies"
7540,TV Show,My Life My Story,Not mentioned,RJ Anmol,United States,2017-11-01,2017,TV-14,1 Season,"International TV Shows, Stand-Up Comedy & Talk..."
6030,Movie,A Bridge Too Far,Richard Attenborough,"Dirk Bogarde, James Caan, Michael Caine, Sean ...","United States, United Kingdom",2020-07-01,1977,PG,176 min,"Action & Adventure, Classic Movies, Dramas"
1805,Movie,Bending the Arc,"Kief Davidson, Pedro Kos",Not mentioned,United States,2020-10-22,2017,TV-MA,102 min,Documentaries
2987,Movie,Vir Das: For India,"Vir Das, Ajay Bhuyan",Vir Das,India,2020-01-26,2020,TV-MA,76 min,Stand-Up Comedy

In [216]:
df["year"] = df["date_added"].dt.year

In [218]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year
2837,Movie,Twin Murders: the Silence of the White City,Daniel Calparsoro,"Belén Rueda, Javier Rey, Aura Garrido, Manolo ...",Spain,2020-03-06,2020,TV-MA,110 min,"International Movies, Thrillers",2020
188,Movie,2 Alone in Paris,"Ramzy Bedia, Éric Judor","Ramzy Bedia, Éric Judor, Benoît Magimel, Krist...",France,2021-08-28,2008,TV-MA,97 min,"Comedies, International Movies",2021
2429,Movie,Can’t Complain,Ahmed Nader Galal,"Ahmed Helmy, Menna Shalaby, Khaled El Sawy, Lo...",Egypt,2020-06-03,2007,TV-MA,114 min,"Comedies, International Movies, Romantic Movies",2020
6446,Movie,Charlie and the Chocolate Factory,Tim Burton,"Johnny Depp, Freddie Highmore, David Kelly, He...","United Kingdom, United States",2020-01-01,2005,PG,115 min,"Children & Family Movies, Comedies",2020
5190,Movie,The Bittersweet,D Ho,"Min-ho Lee, Zhu Xuan",China,2017-11-01,2017,TV-MA,98 min,"Action & Adventure, Dramas, International Movies",2017

In [220]:
df["month"] = df["date_added"].dt.month

In [222]:
df["day"] = df["date_added"].dt.day

In [224]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
3607,TV Show,Dollar,Not mentioned,"Adel Karam, Amel Bouchoucha",Lebanon,2019-08-08,2019,TV-MA,1 Season,"International TV Shows, TV Dramas",2019,8,8
3716,TV Show,Forest of Piano,Not mentioned,"Soma Saito, Junichi Suwabe, Natsuki Hanae, Yui...",Japan,2019-06-24,2019,TV-14,2 Seasons,"Anime Series, International TV Shows",2019,6,24
5836,TV Show,Marco Polo,Not mentioned,"Lorenzo Richelmy, Benedict Wong, Chin Han, Joa...",United States,2016-07-01,2016,TV-MA,2 Seasons,"TV Action & Adventure, TV Dramas",2016,7,1
6484,Movie,Chupan Chupai,Mohsin Ali,"Ahsan Khan, Neelam Muneer, Faizan Khawaja, Ali...",Pakistan,2019-01-15,2017,TV-14,118 min,"Comedies, International Movies",2019,1,15
2795,TV Show,"Tiger King: Murder, Mayhem and Madness","Eric Goode, Rebecca Chaiklin",Not mentioned,United States,2020-03-20,2020,TV-MA,1 Season,"Crime TV Shows, Docuseries",2020,3,20

In [226]:
df["genre"] = df["listed_in"].str.split(",").str[0]

In [228]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

# Create "lead actor" column

In [234]:
df[df["cast"]=="Not mentioned"].value_counts("cast").head()

cast
Not mentioned    825
Name: count, dtype: int64

In [238]:
#remove rows where cast = Not mentioned
df = df[df["cast"] != "Not mentioned"]

In [240]:
df[df["cast"]=="Not mentioned"].value_counts("cast").head()

Series([], Name: count, dtype: int64)

In [242]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [244]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [246]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
4783,Movie,The Skin of the Wolf,Samu Fuentes,"Mario Casas, Irene Escolar, Ruth Díaz",Spain,2018-07-06,2018,TV-MA,110 min,"Dramas, Independent Movies, International Movies",2018,7,6,Dramas,Mario Casas
7933,Movie,Santa Claws,Glenn Miller,"Nicola Lambo, Evan Boymel, John P. Fowler, Eri...",United States,2017-11-17,2014,TV-PG,86 min,"Children & Family Movies, Comedies",2017,11,17,Children & Family Movies,Nicola Lambo
5306,Movie,Offline - Das leben ist kein bonuslevel,Florian Schnell,"Moritz Jahn, Mala Emde, Ugur Ekeroglu, David S...",Germany,2017-09-01,2016,TV-MA,89 min,"Action & Adventure, Comedies, International Mo...",2017,9,1,Action & Adventure,Moritz Jahn
5923,TV Show,Goosebumps,Not mentioned,R.L. Stine,Canada,2014-11-19,1998,TV-G,5 Seasons,"Kids' TV, TV Thrillers",2014,11,19,Kids' TV,R.L. Stine
6593,Movie,Denis Leary: No Cure For Cancer,Ted Demme,Denis Leary,United States,2017-08-08,1992,R,62 min,Stand-Up Comedy,2017,8,8,Stand-Up Comedy,Denis Leary

In [248]:
df.drop(["cast","listed_in"], axis=1, inplace=True)

In [250]:
df.sample(5)

,type,title,director,country,date_added,release_year,rating,duration,year,month,day,genre,lead_actor
5193,TV Show,The Little Nyonya,Not mentioned,United States,2017-11-01,2009,TV-14,1 Season,2017,11,1,International TV Shows,Jeanette Aw
3793,Movie,Svaha: The Sixth Finger,Jang Jae-hyun,South Korea,2019-05-30,2019,TV-MA,123 min,2019,5,30,International Movies,Lee Jung-jae
3900,TV Show,My Dear Boy,Not mentioned,Taiwan,2019-04-19,2017,TV-MA,1 Season,2019,4,19,International TV Shows,Ruby Lin
2712,Movie,The Death of Stalin,Armando Iannucci,"United Kingdom, France, Belgium, Canada, Unite...",2020-04-03,2017,R,107 min,2020,4,3,Comedies,Steve Buscemi
6104,Movie,Ai Weiwei: Never Sorry,Alison Klayman,United States,2018-03-01,2012,R,91 min,2018,3,1,Documentaries,Ai Weiwei

In [254]:
df.to_csv("cleaned_data.csv")